*~
*.pyc
doc/manual/tex/auto/*
*.dat
*.log
*#
*.pdf
demo/*.cir
demo/*.net
gschem-plugin/.deps
autom4te.cache
gschem-plugin/src/.deps
gschem-plugin/src/.libs
gschem-plugin/src/*.l[ao]
*Makefile
*Makefile.in
spicefile/*
old/*
config.h.in
config.status
configure
*.rej
po/*.gmo
i18n/*
ioscopy
ipython_config.py
po/POTFILES
aclocal.m4
libtool
.emacs*
*hist*
.inputrc
build-tools
po/stamp-it
scheme/oscopy.scm
src/oscopy_ipython/ioscopy.py
gschemrc
git*.py
examples/
stamp-h1
